.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70%;
    margin-left: -100%;
}
.info h1 {
    width: 2rem;
    font-size: 1.15rem;
}

.info i {
    width: 2rem;
    font-size: 1.75rem;
    text-align: center;
}

.data {
    font-size: 1rem;
    white-space: nowrap;
}