/* Стили для обычных экранов */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 2rem;
}

.mainTitle {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-text-color);
    margin: 0;
}

.github {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-cards-color);
    color: var(--primary-text-color);
    font-size: 1.15rem;
    padding: 0.75rem 1.25rem;
    border-radius: 10px;
}

.small-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.link {
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
    &:hover {
        scale: 1.05;
    }
}
/* Адаптивные стили для маленьких экранов */
@media (max-width: 768px) {
    .navbar {
        align-items: center;
        margin: 1rem;
    }

    .search {
        display: none;
    }

    .github {
        margin-bottom: 1rem;
    }
}
