.lastDays_card {
    width: 25%;
    height: 100%;
    border-radius: 10px;
    margin: 0rem 1rem;
    background-color: var(--primary-cards-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.02);
    }
}

.title {
    font-size: 2rem;
    margin: 0rem;
}

.days_list {
    margin: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 0.5rem;
}

@media (max-width: 768px) {
    .lastDays_card {
      width: 90%;
      margin: 0.5rem auto;
      padding: 10px;
    }
  
    .title {
      font-size: 1.5rem;
    }
  
    .days_list {
      gap: 0.5rem;
    }
  }