/* Стили для обычных экранов */
.time_card {
    width: 30%;
    height: 100%;
    border-radius: 5%;
    margin: 0% 1%;
    background-color: var(--primary-cards-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}

.time_card:hover {
    transform: scale(1.02);
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.25rem;
}

.city {
    font-size: var(--primary-font-size-xlarge);
    font-weight: 600;
    margin: 2rem;
}

.time {
    font-size: calc(var(--primary-font-size-xlarge) + 60%);
    margin: 1%;
}

.date {
    font-size: var(--primary-font-size-medium);
    margin: 0%;
    font-weight: 600;
}

/* Адаптивные стили для маленьких экранов */
@media (max-width: 768px) {
    .time_card {
        width: 90%;
        margin: 0.5rem;
    }

    .city {
        font-size: var(--primary-font-size-large);
    }

    .time {
        font-size: var(--primary-font-size-xlarge);
    }

    .date {
        font-size: var(--primary-font-size-small);
    }
}