:root {
    --primary-bg-color: #ffffff;
    --primary-text-color: #000000;
    /* ... */
  }
  
  /* Dark Theme */
  [data-theme='dark'] {
    --primary-bg-color: #000000;
    --primary-text-color: #ffffff;
    /* ... */
  }